        @media (max-width: 900px) {
            h1 {
                font-size: 48px;
                margin-left: 20px;
            }
            #ben > div {
                max-width: 45vw;
                height: 360px;
                background-size: contain;
            }
        }
        @media (max-width: 500px) {
            #ben > div {
                max-width: 90vw;
                height: 320px;
            }
            h1 {
                font-size: 32px;
                margin-left: 10px;
                text-align: center;
            }
            nav ul {
                flex-direction: column;
            }
            nav ul li {
                margin: 5px 0;
            }
        }
